body
  background: black
  color: grey

h1,h2,h3,h4,h5,h6
  color: grey

.header
  margin-top: 0.5em

  .header-title
    float: left

  div.search-box
    float: right
    height: 33px
    text-align: bottom
    vertical-align: top
    form
      height: 33px
      #q
        vertical-align: top
        margin-top: 0
        margin-bottom: 0
	
  ul#header-menu
    float: left
    list-style-type: none
    padding: 0
    li
      float: left
      margin-right: 1em
      a
        color: red
        font-size: 120%

  ul#user-stats
    float: right
    list-style-type: none
    padding: 0
    li
      float: left
      margin-right: 1em
      font-size: 80%


.footer
  width: 100%
  font-size: 70%
  text-align: center

table
  thead
    tr
      th
        background-color: #41383C
      th.torrent-name
        width: 700px
      th.torrent-se
        width: 25px
      th.torrent-le
        width: 25px
      th.torrent-created
  tbody
    tr
      td
        vertical-align: top
        background-color: #666362
      td.torrent-box-title
        font-size: 120%
        font-weight: bold
        color: #4E8975
      td.torrent-title
        a
          color: #4C7D7E
          text-decoration: none
          font-size: 120%

.welcome-box
  .welcome-box-image
    float: left
    width: 50%
  .welcome-login-box
    margin-top: 5em
    font-size: 120%


input[type="text"], 
input[type="password"], 
textarea
  background-color: transparent
  color: red
  border-color: red
