body
  background: black
  color: grey

h1,h2,h3,h4,h5,h6
  color: grey

.header
  div.search-box
    float: right
    height: 33px
    text-align: bottom
    vertical-align: top
    form
      height: 33px
      #q
        margin-top: 0
        margin-bottom: 0
	
  ul#header-menu
    list-style-type: none
    padding: 0
    li
      float: left
      margin-right: 1em
      a
        color: red
        font-size: 120%

.footer
  width: 100%
  font-size: 70%
  text-align: center

table
  thead
    tr
      th
        background-color: #41383C
  tbody
    tr
      td
        vertical-align: top
        background-color: #666362
      td.torrent-box-title
        font-size: 120%
        font-weight: bold
        color: #4E8975
      td.torrent-title
        a
          color: #4C7D7E
          text-decoration: none
          font-size: 120%