body {
  background: black;
  color: grey; }

h1, h2, h3, h4, h5, h6 {
  color: grey; }

.header {
  margin-top: 0.5em; }
  .header .header-title {
    float: left; }
  .header div.search-box {
    float: right;
    height: 33px;
    text-align: bottom;
    vertical-align: top; }
    .header div.search-box form {
      height: 33px; }
      .header div.search-box form #q {
        vertical-align: top;
        margin-top: 0;
        margin-bottom: 0; }
  .header ul#header-menu {
    list-style-type: none;
    padding: 0; }
    .header ul#header-menu li {
      float: left;
      margin-right: 1em; }
      .header ul#header-menu li a {
        color: red;
        font-size: 120%; }

.footer {
  width: 100%;
  font-size: 70%;
  text-align: center; }

table thead tr th {
  background-color: #41383c; }
table tbody tr td {
  vertical-align: top;
  background-color: #666362; }
table tbody tr td.torrent-box-title {
  font-size: 120%;
  font-weight: bold;
  color: #4e8975; }
table tbody tr td.torrent-title a {
  color: #4c7d7e;
  text-decoration: none;
  font-size: 120%; }
