<table>
    <thead>
	<tr>
	    <td>Name</td>
	    <td>Url</td>
	    <td>Callback</td>
	</tr>
    </thead>

    <tbody>
	<% @tracker_peers.each do |tracker_peer| %>
	    <tr>
		<td></td>
		<td></td>
		<td></td>
	    </tr>
        <% end %>
    </tbody>
</table>
