<h2>Join as TrackerPeer</h2>

<p>When you become a TrackerPeer whatever updates sent to the site will also be relayed to your site. Please note
that when you join you are essentially asking a request and the current site owner has to accept you as a 
TrackerPeer before sending your site updates.</p>

<%= form_for :tracker_peer do |f| %>
  <p>

    <%= f.label :domain %>
  </p>

<% end %>
