<% @categories.each do |category| %>
  <div class="span-24">
    <h3><%= link_to category.name, category_url(category) %></h3>

    <%= render :partial => "torrents/list", :locals => { :torrents => Torrent.where(:category_id => category.id).limit(10) } %>
  </div>
<% end %>
