<h1>Categories</h1>
<% @categories.each do |category| %>
  <div class="span-24">
    <h2><%= link_to category.name, category_url(category) %></h2>

    <table>
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <% Torrent.where(:category_id => category.id).limit(10).each do |torrent| %>
        <tr>
          <td></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
