<table class="torrent-list">
  <thead>
    <tr>
      <th class="torrent-name">Name</th>
      <th class="torrent-se">SE</th>
      <th class="torrent-le">LE</th>
      <th class="torrent-created">Created</th>
    </tr>
  </thead>
  <% torrents.each do |torrent| %>
    <tr>
      <td class="torrent-title"><%= link_to torrent.name, torrent_url(torrent) %></td>
      <td><%= torrent.total_downloaded %></td>
      <td><%= torrent.total_uploaded %></td>
      <td><%= time_ago_in_words torrent.created_at %></td>
    </tr>
  <% end %>
</table>

